@import '@fontsource/jetbrains-mono';

:root {
	--white: #fafafa;
	--light: #e9e9e9;
	--black: #2e2c2f;
	--green: #84e59e;
	--yellow: #f6ec83;
	--gray: #a4a4a4;
	--blue: #089ba9;

	--color-bg: var(--white);
	--color-text: var(--black);
	font-family: 'JetBrains Mono', monospace;
}

[data-theme='dark'] {
	--color-bg: var(--black);
	--color-text: var(--white);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--color-bg);
	color: var(--color-text);
	transition: color 0.2s linear;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-text);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
